/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

ul {
    text-decoration: none;
}

.bg-blue {
    background-color: rgb(0, 98, 255);
    color: white;
    padding: 8px;
}

img {
    max-width: 100%;
}

/* Header */

/* Footer Navbar */

header {
    height: 50px;
}

.navbar-container {
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    height: 50px;
}

header a {
    text-decoration: none;
    color: black;
}

.navbar-left,
.navbar-right {
    gap: 30px;
}

/* Footer Hero */

.hero {
    background-color: rgb(181, 208, 230);
}

.hero-title {
    margin: 0 auto;
    width: 750px;
}

.hero-container {
    margin: 0 auto;
    width: 750px;
    position: relative;
}

.hero-title {
    font-size: 22px;
    padding: 15px 0;
}

.hero-content {
    font-size: 12px;
    width: 30%;
    padding-top: 30px;
    padding-bottom: 5px;
}

.freccia {
    font-size: 30px;
}

.btn-prova-gratuita {
margin: 30px 0;
}

.hero-img {
    width: 70%;
    position: absolute;
    top: 30px;
    left: 250px;
}




/* Main */

/* Footer*/