/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.main-container {
    width: 900px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

.bg-blue {
    background-color: rgb(0, 98, 255);
    color: white;
    padding: 8px;
}

img {
    max-width: 100%;
}

main {
    padding-top: 50px;
}

.color-black {
    color: black;
}


/* Header */

/* Footer Navbar */

header {
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 3;
}

.navbar-container {
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    margin: 0 auto;
    height: 70px;
}

header a {
    text-decoration: none;
    color: black;
}

.navbar-left,
.navbar-right {
    align-items: center;
    gap: 30px;
}


/* Main */

/* Sezione Hero */

.hero {
    background-color: rgb(181, 208, 230);
}

.hero-title {
    margin: 0 auto;
    width: 950px;
    font-size: 22px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.hero-container {
    margin: 0 auto;
    width: 950px;
    position: relative;
}

.hero-content {
    font-size: 14px;
    width: 30%;
    padding: 10px 0;
}

.freccia {
    font-size: 30px;
    margin-top: 40px;
}

.btn-prova-gratuita {
    margin: 40px 0;
}

.hero-img {
    width: 70%;
    position: absolute;
    top: 10px;
    left: 270px;
}

.hero a {
    text-decoration: none;
}

/* Sezione Piani Business (Primi tre piani) */

/* Titolo della sezione piani */

.sezione-piani-titolo {
    padding-top: 180px;
    padding-bottom: 50px;
}

.piani-business {
    margin-top: 40px;
    gap: 40px;
}

label {
margin-right: 40px;
}

/* Card primi tre piani e relativo contenuto*/

.card {
    width: calc(100% / 3);
    border: 1px solid rgba(0, 0, 0, 0.150);
    flex-direction: column;
    gap: 20px;
}

.user-piano {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.150);
}

.contenuto-card {
    padding: 30px;
}

.nome-piano {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

.dettagli-piano {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

.btn-card {
    text-decoration: none;
}

.acquista-ora {
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.lista-punti-salienti {
   margin: 20px 0;
}

li {
    margin-bottom: 15px;
}

.dettaglio-prezzo {
    color: grey;
}

/* Sezione Enterprise 2 (Quarto Piano) */

.enterprise-piano-2 {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 150px;
}

.enterprise-2-space-between {
    justify-content: space-between;
    align-items: center;
}

.enterprise-2-descrizione {
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}


/* Sezione partner */

.partner-section {
    gap: 40px;
    margin-bottom: 100px;
}

.partner-img {
    width: 60%;
}

.partner-content {
    width: 40%;
    margin-top: 50px;
}

.partner-section a {
    text-decoration: none;
    padding: 10px;
    border: 2px solid black;
    color: black;
}

.p-partner {
    margin: 30px 0;
}

/* Sezione Operazioni */



/* Footer*/