/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

ul {
    text-decoration: none;
}


/* Header */

header {
    height: 50px;
}

.navbar-container {
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    height: 50px;
}

header a {
    text-decoration: none;
    color: black;
}

.navbar-left, .navbar-right {
    gap: 30px;
}


/* Main */

/* Footer*/