/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.main-container {
    width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

.bg-blue {
    background-color: rgb(0, 98, 255);
    color: white;
    padding: 8px;
}

img {
    max-width: 100%;
}

main {
    padding-top: 50px;
}

.titolo-sezione {
    margin-bottom: 50px;
}


/* Header */

/* Footer Navbar */

header {
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 3;
}

.navbar-container {
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    margin: 0 auto;
    height: 70px;
}

header a {
    text-decoration: none;
    color: black;
}

.navbar-left,
.navbar-right {
    align-items: center;
    gap: 30px;
}


/* Main */

/* Sezione Hero */

.hero {
    background-color: rgb(181, 208, 230);
}

.hero-title {
    margin: 0 auto;
    width: 1050px;
    font-size: 22px;
    padding-top: 80px;
    padding-bottom: 40px;
}

.hero-container {
    margin: 0 auto;
    width: 1050px;
    position: relative;
    margin-bottom: 180px;
}

.hero-content {
    font-size: 14px;
    width: 30%;
    padding: 10px 0;
}

.freccia {
    font-size: 30px;
    margin-top: 80px;
    color: black;
}

.btn-prova-gratuita {
    margin: 40px 0;
}

.hero-img {
    width: 70%;
    position: absolute;
    top: 10px;
    left: 300px;
}

.hero a {
    text-decoration: none;
}

/* Sezione Piani Business (Primi tre piani) */

/* Titolo della sezione piani */

.piani-business {
    margin-top: 40px;
    gap: 40px;
}

/* Etichette checkbox */

label {
    margin-right: 40px;
}

input {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #555;
}

input:hover {
    border: 5px solid rgb(0, 98, 255);
}

/* Spunte blu */

.fa-check {
    color: rgb(0, 98, 255);
}

/* Card primi tre piani e relativo contenuto*/

.card {
    width: calc(100% / 3);
    border: 1px solid rgba(0, 0, 0, 0.150);
}

.user-piano {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.150);
}

.contenuto-card {
    padding: 30px;
}

.nome-piano {
    line-height: 40px;
    margin-bottom: 40px;
}

.dettagli-piano {
    width: 100%;
    margin-bottom: 40px;
}

.btn-card {
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.acquista-ora {
    gap: 5px;
    margin-top: 30px;
}

.separatore {
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80px;
    background-color: rgba(0, 0, 0, 0.150);
}

.lista-punti-salienti {
    margin: 20px 0;
    width: 100%;
}

li {
    margin-bottom: 15px;
}

.dettaglio-prezzo {
    color: grey;
}

/* Sezione Enterprise 2 (Quarto Piano) */

.enterprise-piano-2 {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 150px;
}

.enterprise-2-nome {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.enterprise-2-descrizione {
    margin-top: 40px;
}


/* Sezione partner */

.partner-section {
    gap: 40px;
    margin-bottom: 100px;
}

.partner-img {
    width: 60%;
}

.partner-content {
    width: 40%;
    margin-top: 50px;
}

.partner-section a {
    text-decoration: none;
    padding: 10px;
    border: 2px solid black;
    color: black;
}

.p-partner {
    margin: 30px 0;
}

/* Sezione Operazioni */

.dropbox-business-operations {
    flex-wrap: wrap;
    gap: 5%;
    margin-bottom: 100px;
}

figure {
    width: calc(90% / 3);
}

figure h3,
figure p {
    margin-bottom: 30px;
}

/* Sezione clienti */

.clienti-business {
    margin-bottom: 100px;
    ;
}


/* Footer */

/* Lista Footer */

footer {
    background-color: black;
}

.footer-container {
    width: 1200px;
    margin: 0 auto;
}

.lista {
    justify-content: space-between;
    padding: 100px 0;
}

ul {
    width: 20%;
}

.title-list {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: bold;
}

.separatore-footer {
    height: 1px;
    margin-bottom: 60px;
    width: 80px;
    background-color: white;
}

/* Footer language */

.language {
    color: white;
    font-size: 20px;
    padding-bottom: 50px;
}

footer a {
    text-decoration: none;
    color: black;
}